In [5]:
from sklearn.cluster import KMeans
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from matplotlib import pyplot as plt
%matplotlib inline

In [11]:
df = pd.read_csv("personal_details.csv")
df.head()

,Name,Age,Gender,Sport,Tv Show,Pet,Hobbies,Career,Cluster
0,Rob,27,Male,Football,How I Met Your Mother,Dog,Skiing,Lawyer,1.0
1,Michael,29,Other,Football,Suits,Snake,Running,Graphic Designer,3.0
2,Mohan,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ismail,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kory,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN